
<h1>Contato:</h1>
<div class='contato'>

    
        <p>
        <div>
            <h3>Redes Sociais Maino</h3>
                <ul>
                    <a href='https://www.linkedin.com/company/mainosistemas/'><li> Linked-in <%=fa_icon 'linkedin'%></a>
                    <a href='https://www.facebook.com/mainosistemas/'><li> Facebook <%=fa_icon 'facebook'%></a>
                    <a href='https://www.instagram.com/mainosistemas/'><li> Instagram <%=fa_icon 'instagram'%></a>
                    <a href='https://www.youtube.com/channel/UCDyR7teW5ICxRcv6zWGHaUQ/featured'><li> Youtube <%=fa_icon 'youtube'%></a>
                </ul>
        </div>
        <div>
           <h3> Minhas Redes Sociais:</h3>
            <ul>
                <a href='https://www.linkedin.com/in/davidschnee/'><li> Linked-in <%=fa_icon 'linkedin'%></a>
                <a href='https://www.facebook.com/david.gelman1'><li> Facebook <%=fa_icon 'facebook'%></a>
                <a href='https://github.com/DavidSchnee'><li> GitHub <%=fa_icon 'github'%></a>
            </ul>
        </div>
        <div>
           <h3> Teconologias utlizadas:</h3>
            <ul>
                <a href='https://rubyonrails.org/'><li> Ruby on Rails</a>
                <a href='https://developer.mozilla.org/pt-BR/docs/Web/HTML/HTML5'><li> Html 5 <%=fa_icon 'html5'%></a>
                <a href='https://www.w3schools.com/css/'><li> CSS <%=fa_icon 'css3'%></a>
                <a href='https://getbootstrap.com.br/docs/4.1/getting-started/introduction/'><li> Bootstrap 4 <%=fa_icon 'bootstrap'%></a>
            </ul>
        </p>
        </div>
</div>